.whole {
    display: flex;
    flex-direction: row;
    height: 75px;
}
.left {
    background-color: lightpink;
    width: 100px;
}
.right {
    background-color: lightblue;
    width: 200px;
}
.row2 {
    display: flex;
    flex-direction: row;
    background-color: black;
    color: white;
}
.row2p {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}