p {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0px;
    color: gray;
}
input{
    width: 400px;
    height: 40px;
    margin-top: 4px;
    border-radius: 2px;
    border-style: solid;
}
button {
    padding-top: 10px;
    padding-right: 150px;
    padding-bottom: 10px;
    padding-left: 150px;
    margin-top: 15px;
    border-radius: 30px;
    background-color: rgb(10, 102, 194);
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: large;
    border: none;
}